body,
html {
	background-color: #fff;
	font-family: 'Inclusive Sans', serif;
	overflow-x: hidden !important;
	margin: 0px !important;
	padding: 0px !important;
	scroll-padding-top: 3rem;
	scroll-behavior: smooth;
}

* {
	text-decoration: none;
	transition: all 0.2s ease-out;
}

.nav {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px 0 25px;
	background-color: #fff;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* Logo CSS Start */
.nav .logo img {
	width: 50px;
	height: 50px;
}

.nav .logo .logoName {
	font-weight: 600;
	flex-direction: row;
}
/* Logo CSS end */

.nav .navbar a {
	margin-right: 25px;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}

.nav .navbar .mainlink {
	color: #e0501b;
}

.nav .navbar a:hover {
	color: #007bff;
}

.nav .navbar .button {
	padding: 8.5px 34px;
	margin-left: 65px;
	display: inline-block;
	padding: 10.5px 20px;
	font-size: 14px;
	color: #000;
	transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	text-transform: capitalize;
	border: 1px solid #e4e6ea;
	font-family: 'Inclusive Sans', serif;
	border-radius: 5px;
}

.nav .button:hover {
	background-color: #007bff;
}

.nav .navbar .button:hover {
	color: #fff;
}

#menu-btn {
	font-size: 2.5rem;
	border-radius: 0.5rem;
	background: #eee;
	padding: 1rem 1.2rem;
	cursor: pointer;
	display: none;
}

/* Landing CSS */
.landing {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 3vw 5vw 0vw 5vw;
	height: 100vh;
}

.landingText h1 {
	font-size: 4vw;
	margin: 0 !important;
}

.landing span {
	color: #2f8be0;
	font-size: 4.5vw;
}

.landingText h3 {
	margin: 6px !important;
	font-size: 15px;
	line-height: 1.8;
	color: #777777;
	font-family: 'Inclusive Sans', serif;
	padding-right: 20px;
}

.landingText .btn {
	width: 120px;
	margin-top: 30px;
	padding: 14px 20px 12px 20px;
	background-color: #007bff;
	border-radius: 45px;
	text-align: center;
}

.landingText .btn a {
	font-size: 1.2vw;
	color: #fff;
}

.landingText .btn:hover {
	background-color: #e0501b;
	transition: all ease-in-out 0.2s;
}
.landingText .btn a:hover {
	font-weight: 500;
}

.landingImage img {
	width: 48vw;
}

/* about CSS */
.about {
	height: 100vw;
	padding: 0vw 5vw 0vw 5vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background: #f4f8fd;
}

.aboutText {
	position: relative;
	padding: 0 50px;
	height: inherit;
}

.aboutText h1 {
	font-size: 4vw;
	position: relative;
	left: 50px;
}

.aboutText span {
	color: #2f8be0;
	font-size: 4.5vw;
}

/* Ammended img values width, height */
.aboutText img {
	width: 52vw;
	margin: 8;
	/* height: 42vw;
	position: relative; */
}

.aboutList {
	width: 50%;
}

ol {
	list-style: none;
	color: #e0501b;
}

ol li {
	font-size: 34px;
	position: relative;
	margin-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
}

li p {
	font-size: 16px;
	color: #000;
	padding-left: 60px;
	line-height: 30px;
	opacity: 0.6;
}

li span {
	position: absolute;
	line-height: 25px;
	font-weight: 600;
}

/* Services Section CSS */
.infoSection {
	height: 650px;
}

.infoHeader {
	text-align: center;
	margin-bottom: 40px;
}

.infoHeader h1 {
	font-size: 3.2vw;
}
.infoSection .infoHeader span {
	color: #2f8be0;
	font-size: 4.5vw;
}

.infoCards {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 40px 0 40px 0;
}

.infoCards .card {
	position: relative;
	height: 410px;
	width: 360px;
	background: #fff;
	box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
}

.infoCards .one .cardOneImage {
	width: 120px;
	position: absolute;
	top: -50px;
	right: -50px;
}

.infoCards .two .cardTwoImage {
	width: 120px;
	position: absolute;
	top: -50px;
	right: -50px;
}

.infoCards .three .cardThreeImage {
	width: 120px;
	position: absolute;
	top: -50px;
	right: -50px;
}

.cardBGoneOne {
	height: 150px;
	background-color: #fff;
}

.cardBGoneTwo {
	height: 150px;
	background-color: #fff;
}

.cardBGoneThree {
	height: 150px;
	background-color: #fff;
}

.cardContent {
	position: absolute;
	top: 100px;
	padding: 0 20px;
}

.cardContent span {
	line-height: 30px;
	opacity: 0.6;
}
.cardContent p {
	line-height: 30px;
	opacity: 0.6;
}

.cardContent .cardBtn {
	position: absolute;
	right: 20px;
	padding: 10px;
	background-color: #ededed;
	width: 25px;
	height: 20px;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	transition: all ease-in-out 0.2s;
}

.cardContent .cardBtn:hover {
	background-color: #2f8be0;
}

/* This might have no effect, as align-items in the .cardBtn is not relative */
.cardContent .cardBtn .CardIcon {
	position: relative;
	top: 0px;
	left: 0px;
	width: 16px;
}
/* Note above */

/* Google Maps CSS */
.google-map {
	padding-bottom: 30%;
	position: relative;
	margin: 2rem;
}

.google-map iframe {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

/* Banner CSS */

.banner {
	height: 400px;
	background-color: #2f8be0;
	display: flex;
	flex-direction: row;
	padding: 50px;
	justify-content: space-evenly;
	align-items: center;
}

.bannerFollow h1 {
	font-size: 3vw;
	color: #000;
	font-weight: 600;
}

.bannerFollow img {
	width: 5vw;
	padding-top: 10px;
	margin-right: 20px;
}

.bannerFollow img:hover {
	transform: scale(1.2);
	transition: all 0.3s ease-out;
}

.bannerImg img {
	width: 20vw;
}

.bannerInnerTextContact a {
	color: #000;
	padding-right: 8px;
}
.bannerInnerTextContact a:hover i {
	padding-right: 1.8rem;
	color: #3072df;
	transition: all 0.3s ease-out;
}

.bannerInnerTextContact i {
	color: #000;
	padding-right: 8px;
}

/* Footer CSS */
.footer {
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}

.footerLinks a {
	margin: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}

.footer a:hover {
	color: #007bff;
}

/* Footer Copyright */
#copyright {
	text-align: center;
}

/* ************************************************** */
/* media queries */
/* ************************************************** */

@media only screen and (max-width: 600px) {
	#menu-btn {
		display: initial;
		font-size: 1rem;
	}
	/* Nav Responsive CSS */
	/* .nav {
		flex-direction: column;
		justify-content: space-around;
		padding: 10px;
		height: auto;
		overflow: hidden;
	} */
	.nav .navbar {
		position: absolute;
		top: 5rem;
		right: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-radius: 0.5rem;
		width: 90%;
		border: 0.2rem solid #a0a1a1;
		background: #fff;
		transform: scale(0);
		opacity: 0;
		transform-origin: top right;
		transition: none;
	}
	.nav .navbar.active {
		transform: scale(1);
		opacity: 1;
		transition: 0.2s ease-out;
	}
	.nav .navbar a {
		font-size: 1.5rem;
		display: block;
		margin: 2.5rem;
	}
	#navbar-btn {
		visibility: hidden;
	}
	.nav .logoName {
		font-size: 1rem;
	}
	/* 	.nav h4 {
		font-size: 6vw;
		margin-top: 10px;
		margin-bottom: 14px;
	} */

	/* Landing Responsive CSS */
	.landing {
		flex-direction: column-reverse;
		height: auto;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 0vw 5vw 0vw 5vw;
		margin-top: 25vw;
	}
	.landingText h1 {
		font-size: 9vw;
		padding: 15px 0 10px 0;
		margin: 0 !important;
	}
	.landing span {
		font-size: 10vw;
	}
	.landingText h3 {
		font-size: 16px;
	}
	.landingText .btn {
		font-size: 3vw;
	}
	.landingText .btn a {
		font-size: large;
	}
	/* edit landing img start */
	.landing img {
		width: 100%;
		height: 100%;
		margin-bottom: 20px;
	}
	/* edit landing img end */

	/* Services Responsive CSS */
	.about {
		height: auto;
		padding: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}
	.aboutText {
		padding: 10px 30px;
		height: 100px;
	}
	.aboutText h1 {
		left: 30px;
		font-size: 8vw;
		padding-bottom: 10px;
	}
	.aboutText span {
		color: #2f8be0;
		font-size: 9vw;
	}
	.about img {
		width: 100%;
		height: 200%;
	}
	.aboutList {
		margin-top: 250px;
		width: 85%;
	}
	ol {
		padding-bottom: 30px;
	}
	ol li {
		font-size: 26px;
	}
	li p {
		font-size: 16px;
	}

	/* Info Section Responsive CSS */
	.infoSection {
		height: auto;
	}
	.infoHeader {
		text-align: center;
		margin: 40px 0px;
	}
	.infoHeader h1 {
		font-size: 6vw;
	}
	.infoSection .infoHeader span {
		color: #2f8be0;
		font-size: 7vw;
	}
	.infoCards {
		display: flex;
		flex-direction: column;
		padding: 50px;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.infoCards .card {
		margin-bottom: 60px;
	}
	/* maps media queries */
	.google-map {
		/* margin: 2rem; */
		margin-top: -3rem;
		margin-right: 2rem;
		margin-left: 2rem;
		margin-bottom: 4rem;
		height: 15rem;
	}
	/* Banner Responsive CSS */
	.banner {
		height: auto;
		flex-direction: column-reverse;
		padding: 50px;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.banner h1 {
		font-size: 8vw;
	}
	.bannerInnerText {
		font-size: 4vw !important;
	}
	.bannerInnerTextContact {
		font-size: 3vw !important;
		line-height: 100%;
	}
	/* .bannerText {
		width: 70vw;
	} */
	.bannerFollow img {
		width: 15vw;
	}
	.bannerImg img {
		width: 26vw;
	}
	.bannerText a img {
		width: 26vw;
	}

	.banner a {
		font-size: 4vw;
		font-weight: 600;
	}

	/* Footer Responsive CSS */
	.footer {
		padding-bottom: 0px;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.footerLinks a {
		font-size: 4vw;
	}
	.copyrightFooter {
		font-size: 3vw;
		color: #a1c4cf;
	}
}
/* ******************************************************************** */
/* ******************************************************************** */
/* ******************************************************************** */
/* ****************** Media Queries MaxiPharmaII ********************** */
